main {
	padding-top: 3.5rem;
	min-width: 100%;
	min-height: 100rem;
	background-color: #EEE9E3;
	color: #313131;
}

.section-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	position: relative;
	min-height: 20rem;
	height: auto;
	border-bottom: 1px solid #bbb;
	padding: 3rem 1rem;
}

.content-outer {
	/*position: absolute;*/
	/*margin: auto;*/
	width: 100%;
	max-width: 67rem;
	/*min-height: 30rem;*/
	/* background-color: pink;  */
}

.about-name {
	font-family: 'Raleway', sans-serif;
	font-size: 4.7rem;
	line-height: 4.9rem;
	text-transform: uppercase;
	margin: 0.8rem auto;
}

.about-last-name {
	color: #581d22;
	text-shadow: 1px 1px 1px rgba(79,47,17,0.75), 1.5px 1.5px 1px rgba(0,0,0,0.75);
	font-size: 5.1rem;
}

.about-address {
	font-family: 'Lato', sans-serif;
	font-size: 1.2rem;
	opacity: 0.9;
	text-transform: uppercase;
	font-style: italic;
	line-height: 1.8rem;
	margin: 0.8rem auto;
	color: #233d3d;
}

.address-dot {
	color: black;
}

#about-email {
	color: #581d22;
	font-style: normal;
}

#about-email:hover {
	color: #311013;
	text-decoration: underline;
}

#about-email:focus {
	outline: none;
	color: #311013;
	text-decoration: underline;
	-webkit-box-shadow: 0px 0px 0.5px 1px #FFFFFF, 0px 0px 1px 2px #969696, 0px 0px 2px 3px #000000; 
    box-shadow: 0px 0px 0.5px 1px #FFFFFF, 0px 0px 1px 2px #969696, 0px 0px 2px 3px #000000;
}

.about-description {
	margin: 3rem auto;
	font-size: 1.2rem; 
}

.logo-container {
	margin: 0;
	margin-bottom: 3rem;
	margin-left: 8vw;
	width: 11rem;
	height: auto;
}

.logos {
	display: flex;
	padding: 0;
	margin: 0;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.logo {
	display: inline-block;
	margin: 0.5rem auto;
	/* margin-right: 1.5rem; */
	width: 4rem;
	height: 4rem;
	text-align: center;
}

.logo-link {
	display: inline-block;
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
}

.logo-link:focus {
	outline: none;
    -webkit-box-shadow: 0px 0px 0.5px 1px #FFFFFF, 0px 0px 1px 2px #969696, 0px 0px 2px 3px #000000; 
    box-shadow: 0px 0px 0.5px 1px #FFFFFF, 0px 0px 1px 2px #969696, 0px 0px 2px 3px #000000;
    /*filter: invert(18%) sepia(11%) saturate(2102%) hue-rotate(306deg) brightness(105%) contrast(83%);	*/
}

.logo__svg, .logo__image, .logo__png {
	width: 4rem;
	height: 4rem;
	filter: invert(18%) sepia(0%) saturate(0%) hue-rotate(57deg) brightness(103%) contrast(97%);
	/* fill: #313131; */
	border-radius: 50%;
}

.logo__svg {
	background-size: 4rem;
}

.logo__svg:hover, .logo__img:hover{
	filter: invert(18%) sepia(11%) saturate(2102%) hue-rotate(306deg) brightness(105%) contrast(83%);	
}

.content-title {
	margin: 0rem auto;
	margin-bottom: 3rem;
	font-size: 2.6rem;
	text-transform: uppercase;
}

.experience-container-outer {
	margin: 2.8rem auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.experience-description-container, .education-description-container {
	width: 100%;
}
.experience-title {
	margin: 0.3rem auto;
	font-size: 1.8rem;
	text-transform: uppercase;
	color: #492b3e;
}
.experience-company {
	margin: 0.3rem auto;
	font-size: 	1.3rem;
	text-transform: uppercase;
	opacity: 0.9;
	
}
.experience-description {
	margin: 1.3rem auto;
}
.experience-date-container, .education-date-container {
	width: 100%;
}
.experience-date, .education-date {
	margin: 1rem auto;
	font-family: 'Lato', sans-serif;
	font-size: 1.05rem;
	color: #5c3639;
}

.education-container-outer {
	margin: 2.8rem auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.education-school {
	font-size: 1.75rem;
	margin: 0.3rem auto;
	text-transform: uppercase;

	color: #492b3e;
}

.education-degree {
	margin: 0.3rem auto;
	margin-bottom: 1.7rem;
	font-size: 1.3rem;
	text-transform: uppercase;
	color: #4d4d4d;
}

.education-track, .education-grades{
	margin: 0.3rem auto;
	font-size: 1.15rem;
	font-family: 'Lato', sans-serif;
	/*color: #4d4d4d;*/
}

.skills-header {
	text-transform: uppercase;
	font-size: 1.4rem;
	color: #4d4d4d;
}

.skills-logo-container {
	position: relative;
	right: 0.7rem;
	margin-bottom: 3rem;

}

.skills-container{
	margin: 0 auto;
	width: 16.5rem;
}

.skills-logos {
	
}

.skills-logo {
	display: inline-block;
	margin: 0.5rem auto;
	/* margin-right: 1.5rem; */
	width: 30%;
	height: 3.5rem;
	text-align: center;
}

.double-filter {
	filter: invert(18%) sepia(0%) saturate(0%) hue-rotate(57deg) brightness(103%) contrast(97%);
}

.double-filter:hover {
	filter: invert(22%) sepia(6%) saturate(3838%) hue-rotate(306deg) brightness(90%) contrast(85%);
}

.skills-svg, .skills-png, .skills-image {
	width: 3.5rem;
	height: 3.5rem;
	border-radius: 0;
}
#less-png {
	width: 4.375rem;
	height: 1.8375rem;
	margin-top: 0.83125rem;
	margin-bottom: 0.83125rem;
}

#gulp-png {
	position: relative;
	width: 3.99rem;
	height: 5.25rem;
	bottom: 0.6rem;
	/* margin-left: 0.42rem;
	margin-right: 0.42rem; */
}

.black-filter.skills-svg, .black-filter.skills-png {
	filter: brightness(0) saturate(100%);
}

.skills-workflows, .awards-list{
	/*position: relative;*/
	list-style-position: inside;
	padding-left: 1rem;
}

.skills-workflow, .awards-item {
	z-index: 1;
	font-size: 1.08rem;
	padding: 0;
	margin-bottom: 0.3rem;
	color: #000;
	filter: invert(15%) sepia(0%) saturate(1255%) hue-rotate(134deg) brightness(84%) contrast(99%);
}

.skills-workflows {

	list-style-image: url("../images/star.png");
}


.interest-paragraph{
	padding-left: 0.7rem;
}

#awards-title{
	font-size: 2.4rem;
}

.awards-list {
	list-style-image: url("../images/medal.png");
}

.awards-item{
	font-size: 1.1rem;
	/*color: white;*/
}











































































