<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="viewport" content="height=device-height,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable, maximum-scale=2.0, minimum-scale=1.0">
    <title>{{htmlWebpackPlugin.options.title}}</title>

</head>
<body>

    <div class="loader-container">
        <div class="loader__message-container">

            <div class="loader__text">


                <p class="loader__p">Organizing Books</p>
                <!-- Loading Screen by: https://loading.io/spinner/bars/-progress-bar-facebook-loader -->
                <div class="lds-css ng-scope"><div style="width:100%;height:100%" class="lds-bars"><div></div><div></div><div></div><div></div></div><style type="text/css">@keyframes lds-bars {
                    0% {
                      opacity: 1;
                    }
                    50% {
                      opacity: 0.5;
                    }
                    100% {
                      opacity: 1;
                    }
                  }
                  @-webkit-keyframes lds-bars {
                    0% {
                      opacity: 1;
                    }
                    50% {
                      opacity: 0.5;
                    }
                    100% {
                      opacity: 1;
                    }
                  }
                  .lds-bars {
                    position: relative;
                    bottom: 3.5rem;
                    /* left: 11%; */
                    margin: 0 auto;
                    left: 0.3rem;
                  }
                  .lds-bars div {
                    border: 1px solid #333;
                    position: absolute;
                    width: 23px;
                    height: 68px;
                    top: 60px;
                    -webkit-animation: lds-bars 2.5s cubic-bezier(0.5, 0, 0.5, 1) infinite;
                    animation: lds-bars 2.5s cubic-bezier(0.5, 0, 0.5, 1) infinite;
                  }
                  .lds-bars div:nth-child(1) {
                    left: 25px;
                    background: #1d0e0b;
                    -webkit-animation-delay: -1.5s;
                    animation-delay: -1.5s;
                  }
                  .lds-bars div:nth-child(2) {
                    left: 65px;
                    background: #774023;
                    -webkit-animation-delay: -1s;
                    animation-delay: -1s;
                  }
                  .lds-bars div:nth-child(3) {
                    left: 105px;
                    background: #d88c51;
                    -webkit-animation-delay: -0.5s;
                    animation-delay: -0.5s;
                  }
                  .lds-bars div:nth-child(4) {
                    left: 145px;
                    background: #f3e7c9;
                  }
                  .lds-bars {
                    width: 200px !important;
                    height: 200px !important;
                    -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
                    transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
                  }
                  </style></div>
            </div>
        </div>
    </div>

    <header class="main-header">
        <nav class="main-nav">

            <a class="nav__title" href="#"></a>
            <button class="button" id="add-book">

            </button>
            <button class="button" id="delete-all"></button>
        </nav>
    </header>
    <main class="main-content">



        <section class="section-container">

            <table class="books-list-container" id="books-list-1">
                <thead class="books-row books-header">
                    <tr class="books-row books-header">
                        <td class="books-number-header">#</td>
                        <td class="books-title-header">Title</td>
                        <td class="books-author-header">Author</td>
                        <td class="books-pages-header">Pages</td>
                        <td class="books-read-header">Read</td>
                        <td class="books-delete-header">Delete</td>
                    </tr>
                </thead>
                <tbody class="books-list-body">

                </tbody>
            </table>


        </section>

        <div class="backdrop" id="add-backdrop">
            <section class="modal-container" id="add-content" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal__close" id="add-close" tabindex="-1">

                </div>
                <h1 class="modal-header">Add a Book</h1>
                <form id="book-form">
                    <div>
                        <input id="book-title-field" class="text-field" type="text" name="title" placeholder="Book Title" required="true">
                    </div>
                    <div>
                        <input id="book-author-field" class="text-field" type="text" name="author" placeholder="Book Author" required="true">
                    </div>
                    <div>
                        <input id="book-pages-field" class="text-field" type="number" name="pages" placeholder="Pages">
                    </div>

                    <div class="checkbox-container">
                        <input class="form-checkbox" type="checkbox" name="read-checkbox" id="read-checkbox">
                        <label class="form-label" for="read-checkbox">Read</label>

                    </div>
                    <input type="submit" class="form-submit" id="book-submit" value="Add This Book">
                </form>

            </section>
        </div>
        <div class="backdrop" id="delete-all-backdrop">
                    <section class="modal-container" id="delete-all-modal" tabindex="0" role="dialog" aria-hidden="false">
                        <div class="modal__close" id="delete-all-close" tabindex="-1" role="button" aria-label="close button">
                            
                        </div>
                        <h1 class="modal-header" id="delete-all-header">Delete All Books?</h1>
                        <p class="modal-paragraph">Do you want to <span id="remove-all">remove all books</span> from the list?</p>
                        <p class="modal-paragraph" id="delete-all-warning">WARNING: Data on books listed can no longer be recovered upon deletion.</p>
                        <div class="button-container">
                            <button class="modal-button" id="cancel-all-modal-button">Cancel</button>
                            <button class="modal-button" id="delete-all-modal-button">Delete All</button>
                        </div>
                    </section>
        </div>
    </main>


    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/6.2.3/firebase-app.js"></script>


    <script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-database.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
        https://firebase.google.com/docs/web/setup#config-web-app -->

    <script>
      // Your web app's Firebase configuration
      var firebaseConfig = {
        apiKey: "AIzaSyBQYL8aRTVaQ-B7IspnfashdCnlxTmlaMg",
        authDomain: "library1-4de0f.firebaseapp.com",
        databaseURL: "https://library1-4de0f.firebaseio.com",
        projectId: "library1-4de0f",
        storageBucket: "library1-4de0f.appspot.com",
        messagingSenderId: "785327227087",
        appId: "1:785327227087:web:32fe5f3ce8bb860a"
      };
      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);
    </script>






</body>
</html>
